<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <title>Billing Web App</title>
</head>
<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a class="active item" href="/">
                <i class="home icon"></i>
            Home
            </a>
            <a class="item" href = "/customer/new" >
                <i class="user plus icon"></i>
            Add Customer
            </a>
            <a class="item ui left icon input loading" href ="#">
                <i class="search icon"></i>
            Search
            </a>
        </div>
    </div>
    <div class="ui container">
        {{{body}}}
    </div>
</body>
</html>